
<style>
    .contenedor {
        width: 80%;
    }

    main {
        display: flex;
        justify-content: center;
    }
</style>
<div class="contenedor" style="text-align: center">
    <br />
    <br />
    <h2>Si te gusta el sabor de lo natural, te gustarán los productos que elaboramos en nuestra panadería en Bargas</h2>
    <br />
    <p>
        Somos un negocio familiar que, aunque hayamos empezado en 2015, ha sabido mantener la tradición y el sabor como seña de identidad.
        En nuestra panadería en Bargas estamos especializados en la elaboración de todo tipo de productos de panadería y bollería,
        los cuales distribuimos en nuestros locales, ubicados en diferentes dos puntos de Bargas. En Panadería La Granja, disponemos de un obrador propio,
        donde damos forma a los panes, bollos y dulces más exquisitos. Desde el primer día, apostamos por los mejores ingredientes, sin importarnos el coste adicional de esta decisión.
        Intentamos que el proceso de creación de nuestros productos sea lo más artesanal posible, con masas madre realizadas de forma manual, sin aditivos ni conservantes.
        Todo esto se traduce en unos artículos diferentes, únicos por su sabor y textura.
        Ven y disfrutar de un momento especial en torno a la buena mesa. Te garantizamos que el que prueba, repite.
    </p>

    <p>Si quieres saber mas puedes ponerte en contacto con nocotros</p>
    <a href="/home/contacto" class="btn btn-success">Contacto</a>
</div>