<style>
    .imagen{
        width: 30px;
        height: 30px;
    }

    .contenedor {
        width: 80%;
        text-align: center;
    }

    main {
        display: flex;
        justify-content: center;
    }
</style>

<div class="contenido">
    <h5>Puedes ponerte en contacto con nosotros a través de:</h5>
    <br />
    <p><img class="imagen" src="/img/email.png" /> panaderia.lagranja@gmail.com</p>
    <p><img class="imagen" src="~/img/phone.png" /> 925 91 28 79</p>
    <br />
    <h5>O bien desde nuestras redes sociales:</h5>
    <br />
    <p><a href="https://www.instagram.com/lagranjapanaderi/" style="text-decoration: none; color: black"><img class="imagen" src="/img/instagram.png" /> lagranjapanaderi</a></p>
    <p><a href="https://www.facebook.com/people/Panaderia-y-bolleria-La-Granja/100054544175385/" style="text-decoration: none; color: black"><img class="imagen" src="/img/facebook.png" /> Panaderia y bolleria La Granja</a></p>
</div>