@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
    body {
        display: flex;
        justify-content: center;
        margin-top: 10em;
    }

    .row {
        align-items: center;
        margin-left: 3em;
    }

    .card {
        border: 1px solid black;
    }
</style>
<div class="card" style="width: 40rem; height: 40em;">
    <div class="card-body">
        <div class="mb-5" style="text-align: center;">
            <h3>Pagina de registro</h3>
			@if (TempData["error"] != null)
			{
				<div class="alert alert-danger">@TempData["error"]</div>
			}
        </div>
        <form action="/home/registro" method="post">
			@*Nombre*@
			<div class="mb-3 row">
				<div class="col-sm-5">Nombre</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="nombre" name="nombre" required/>
				</div>
			</div>

			@*Apellidos*@
			<div class="mb-3 row">
				<div class="col-sm-5">Apellidos</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="apellidos" name="apellidos" required />
				</div>
			</div>
@*			Fecha de nacimiento*@
			<div class="mb-3 row">
				<div class="col-sm-5">Fecha de nacimiento</div>
				<div class="col-sm-5">
					<input type="date" class="form-control" id="fechnac" name="fechnac" required/>
				</div>
			</div>

			@*Email*@
			<div class="mb-3 row">
				<div class="col-sm-5">Email</div>
				<div class="col-sm-5">
					<input type="Email" class="form-control" id="email" name="email" required />
				</div>
			</div>

			@*Nickname*@
			<div class="mb-3 row">
				<div class="col-sm-5">Nombre de usuario</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="nick" name="nick" required />
				</div>
			</div>

			@*Contraseña*@
			<div class="mb-3 row">
				<div class="col-sm-5">Contraseña</div>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="cont" name="cont" required/>
				</div>
			</div>

			@*Repetir Contraseña*@
			<div class="mb-3 row">
				<div class="col-sm-5">Repite contraseña</div>
				<div class="col-sm-5">
					<input type="password" class="form-control"  id="cont2" name="cont2" required/>
				</div>
			</div>

            <div class="col-sm-12 mt-4" style="display: flex; justify-content: center">
                <input type="submit" value="Registrarse" class="btn btn-primary">
            </div>

			<div class="col-sm-12 mt-4" style="display: flex; justify-content: center; text-align: center">
				<p>¿Tienes cuenta? <a href="/home/login">Inicia sesión</a></p>
			</div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

</script>