
<style>
    .panaderias{
        display: flex;
        justify-content: center;
    }
    .panaderias div{
        margin: 20px;
        width: 30em;
        height: 20em
    }
    .panaderias img{
        width: 100%;
        height:100%;
    }
    .info{
        display: flex;
        justify-content:center;
    }
    .info div{
        border-radius: 10px;
        text-align: center;
        margin: 20px;
        width: 30em;
        height: 15em
    }
    .info div:hover{
        background-color: lightgray;
    }
</style>

<div class="panaderias">
    <div class="izq">
        <img src="/img/panaderia.jpg" />
    </div>
    <div class="der">
        <img src="/img/panaderia2.png" />
    </div>
</div>
<div class="info">
    <div class="izq">
        <br />
        <h4>Obrador y tienda</h4>
        <p>Calle Instituto S/N (Bargas, Toledo)</p>
        <p>Lugar de recogida de pedidos</p>
        <p>De lunes a viernes de 6:30 a 15:00</p>
        <p>Fines de semana y festivos de 7:00 a 14:00</p>
    </div>
    <div class="der">
        <br />
        <h4>Tienda</h4>
        <p>Calle Agua nº36 (Bargas, Toledo)</p>
        <p>De lunes a viernes de 7:30 a 14:30</p>
        <p>Fines de semana y festivos de 8:00 a 14:00</p>
    </div>
</div>